@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body,
html {
  height: 100dvh;
  width: 100dvw;
  background: #0e1a26;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cover {
  width: 400px;
  height: 566px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.front-cover {
  width: 400px;
  height: 566px;
  object-fit: cover;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  justify-content: center;
  align-items: center;
}

.back-cover {
  width: 400px;
  height: 566px;
  object-fit: cover;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  justify-content: center;
  align-items: center;
}

.page {
  width: 400px;
  height: 566px;
  background: linear-gradient(145deg, #ffffff 0%, #f5f5f5 100%);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  background-image:
  linear-gradient(to right, #ccc 1px, transparent 1px),
  linear-gradient(to bottom, #ccc 1px, transparent 1px);
  background-size: 20px 20px;
  color: #000;
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  position: relative;
}

.cover {
  background: linear-gradient(135deg, #e74c3c 0%, #c0392b 100%);
  color: white;
  font-weight: bold;
}

.page-number {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #670;
}

.page-date {
  text-align: center;
  margin-top: 4px;
  line-height: 20px;
}

.page-names {
  text-align: center;
  line-height: 20px;
}

.page-description {
  margin-top: 44px;
  margin-bottom: 10px;
  line-height: 20px;
  position: absolute;
}

.page-date::before {
  content: "Date: ";
  font-weight: bold;
}

.page-names::before {
  content: "Who: ";
  font-weight: bold;
}

.page-description:before {
  content: "Description: ";
  text-align: left;
  font-weight: bold;
}

ul {
  padding-left: 1em;
  list-style-position: outside;
}
li {
  padding-left: 0.2em;
}

table {
   padding-left: 1em;
   list-style-position: inside;
}
